/* Font Aurelien */
@font-face{
    font-family: 'gabriele-bad';
    src: local("gabriele-bad"), url(../font/gabriele/gabriele-bad.ttf) format(truetype);
}
@font-face{
    font-family: 'gabriele-br';
    src: local("gabriele-br"), url(../font/gabriele/gabriele-br.TTF) format(truetype);
}
@font-face{
    font-family: 'gabriele-d';
    src: local("gabriele-d"), url(../font/gabriele/gabriele-d.ttf) format(truetype);
}
@font-face{
    font-family: 'gabriele-l';
    src: local("gabriele-l"), url(../font/gabriele/gabriele-l.ttf) format(truetype);
}
@font-face{
    font-family: "impactLabel-l";
    src: local("impactLabel-l"), url(../font/impact-label-font/ImpactLabel-lVYZ.ttf) format(truetype);
}
@font-face{
    font-family:"impactLabelReversed-n";
    src: local("impactLabelReversed-n"), url(../font/impact-label-font/ImpactLabelReversed-nDMR.ttf) format(truetype);
}

/* Font Nathalie approximative */
@font-face{
    font-family:"media-gothic";
    src: local("media-gothic"), url(../font/typoNathMediaGothic/Media-Gothic.ttf) format(truetype);
}

/* Font Quentin & Sanith */
@font-face{
    font-family:"berkshireSwash-regular";
    src: local("berkshireSwash-regular"), url(../font/Typo/BerkshireSwash-Regular.ttf) format(truetype);
}

/* Font Svetlana & Estelle */
@font-face{
    font-family:"mooncheese-regular";
    src: local("mooncheese-regular"), url(../font/moon_cheese/MoonCheese-Regular.ttf) format(truetype);
}
