body{
    padding:10px;
    margin:0;
    box-sizing:border-box;
    max-width:1920px;
    max-height:1080px;
    height:1080px;
}
div.screen{
    text-align:center;
    padding-left:100px;
}
img.screen{
    width:100%;
}
img.compass{
    width:20%;
    padding-left:35px;
}
img.est {
    rotate: 0deg;
}
img.nord{
    rotate: 90deg;
}
img.ouest{
    rotate:180deg;
}
img.sud{
    rotate:270deg;
}
#section-1 {
    display:flex;
    flex-flow:row nowrap;
    justify-content:center;
    text-align:center;
    font-family:"impactLabel-l";
    margin:50px auto 100px auto;
}
#section-1 div.text{
    rotate: -3deg;
}
.impact{
    display:inline;
    background-color: #fff;
    font-size:47px;
}
h1.impact{
    font-size:57px;
}
#section-2 {
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-around;
    padding-left:100px;
    margin:123px auto 40px auto;
}
#section-3 {
    display:flex;
    flex-flow:row nowrap;
    justify-content:center;
    margin:0 auto 0 auto;
    text-align:center;
    font-family: "gabriele-br";
    color:#fff;
    font-size:30px;
}
form.principal{
    margin:0 auto;
    padding-top:60px;
    width:20%;
}
table{
    margin:0 auto;
}

.button{
    width:90%;
    background-color:transparent;
    border:none;
}

div.text p{
    width:710px;
    max-width:710px;
    margin-top:0;
}