body{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

div.screen{
    text-align:center;
}
img.screen{
    width:70%;
    margin:0 auto;
}
img.est {
    rotate: 0deg;
}
img.nord{
    rotate: 90deg;
}
img.ouest{
    rotate:180deg;
}
img.sud{
    rotate:270deg;
}

#section-1 {
    display:flex;
    flex-flow:row nowrap;
    justify-content:center;
    background-image:url(../assets/1025035.jpg);
    background-size:cover;
    margin:0 auto;
    text-align:center;
    width:70%;
}
form.principal{
    background-color:rgba(118, 180, 219,0.5);
    display:flex;
    flex-flow:row wrap;
    justify-content:center;
    align-items:center;
    margin-bottom:0;
}
table {
    background-color:blue;
    text-align:center;
    border-radius:20px;
    margin:0 auto;
    width:40%;
    
}
img.compass{
    width:40%;
}
div.text{
    display:flex;
    flex-flow:row wrap;
    justify-content:center;
    align-items:center;
    color:#fff;
    width:100%;
    background-color:rgba(0, 139, 139,0.5) ;
}

/*  POPUP   */
  .popup-back {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba( 0, 0, 0, .25 )
  }
  .popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index:99;
    padding: 25px;
    color:#fff;
    transform: translate(-50%, -50%);
    text-align:center;
    width:60%;
  }
  #background-victoire {
    background-image:url(../assets/1070909.jpg);
    background-size:cover;
  }
  .popup-container h1{
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 90px;
  }
  .popup-container p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: start;
    margin:0;
  }

  /* INVENTAIRE */
  #inventory{
    color:#000;
    background-image:url(../assets/1137622.jpg);
    background-size:cover;
  }

  .title-inventory{
    margin-top:0;
  }

  .itemInventory{
    width:15%;
    padding:0;
    border:2px solid #000; 
    margin-bottom:12px;
    background:none;
  }

  .itemInventory:hover{
    cursor:pointer;
    border:2px solid rgb(255, 0, 0);
  }
  .img-inventory{
    width:100%;
  }
  .img-cle{
    width:15%;
  }

  .compassDisplay{
    display:none;
  }