body{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

div.screen{
    text-align:center;
}
img.screen{
    width:70%;
    margin:0 auto;
}
img.est {
    rotate: 0deg;
}
img.nord{
    rotate: 90deg;
}
img.ouest{
    rotate:180deg;
}
img.sud{
    rotate:270deg;
}

#section-1 {
    display:flex;
    flex-flow:row nowrap;
    justify-content:center;
    background-image:url(assets/1025035.jpg);
    background-size:cover;
    margin:0 auto;
    text-align:center;
    width:70%;
}
form{
    background-color:rgba(118, 180, 219,0.5);
    display:flex;
    flex-flow:row wrap;
    justify-content:center;
    align-items:center;
}
table {
    background-color:blue;
    text-align:center;
    border-radius:20px;
    margin:0 auto;
    width:40%;
    
}
img.compass{
    width:40%;
}
div.text{
    display:flex;
    flex-flow:row wrap;
    justify-content:center;
    align-items:center;
    color:#fff;
    width:70%;
    background-color:rgba(0, 139, 139,0.5) ;
}